    html {
        background-image: url("Images/hangmanbackground2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
    
    html body {
        background-color: transparent;
    }
    
    div {
        color: black;
        text-shadow: 2px 2px red
    }
    
    #keyboard {}
    
    .position {
        position: absolute;
        bottom: 0;
    }